:root {
    --quizme-pri-clr: #30475E;
    --quizme-sec-clr: #7882A4;
}

.justify-cont-center{
    justify-content: center;
}

.justify-cont-end{
    justify-content: end;
}

.justify-cont-spacebetween{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.flex-d-col{
    flex-direction: column;
}

.flex-gap{
    gap: 1rem;
}

.mr-small{
    margin-right: 0.5rem;
}

.quizme-cta-btn{
    background-color: var(--quizme-pri-clr);
}

.f-size-larger{
    font-size: larger;
}